RPC_URL=https://api.devnet.solana.com
WS_URL=wss://api.devnet.solana.com
PROGRAM_ID=Ak5zCGByVQ972WfccBAxR67zZambk5KqUvfEfksUMXr6
TOKEN_2022_PROGRAM_ID=TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb

PRIVATE_KEY_BASE64=4AVg6MWdq5RzP4kTRiJ35i1oaPQ2XJ4D6mmaX5fBxBkQEna6vSQbsPgR1f3m5ZyDWWC8on7iR53CDdRhmEqc7pz7

# Webhook settings
WEBHOOK_URL=
WEBHOOK_SECRET=your_helius_secret
WEBHOOK_ENABLED=false

RUST_LOG=info